<nav class="navbar bg-dark border-bottom border-white">
  <div class="container-fluid">
    <div class="dropdown">
      <a
        class="nav-link dropdown-toggle text-info"
        href="#"
        id="navbarDropdown"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Chuyển hướng
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><hr class="dropdown-divider" /></li>
        <li>
          <a class="dropdown-item" href="#"
            ><i class="fas fa-cog mx-1"></i>Setting</a
          >
        </li>
      </ul>
    </div>
    <form class="d-flex nav-item">
      <input type="search rounded-0" placeholder="Tìm kiếm bài viết" />
      <button
        type="button"
        class="btn btn-default border border-warning text-info"
        ng-click="click()"
      >
        Search
      </button>
    </form>
  </div>
</nav>
