<form
  class="px-5 py-2 mx-auto border border-info col-4"
  [formGroup]="loginForm"
>
  <div class="mb-3 mx-auto">
    <label class="form-label">Account</label>
    <input
      type="text"
      class="form-control"
      name="account"
      formControlName="account"
      [class.is-invalid]="Account.invalid && Account.touched"
    />
    <div *ngIf="Account.valid || Account.touched">
      <small *ngIf="Account.errors?.required" class="text-danger"
        >Account is required</small
      >
      <small *ngIf="Account.errors.minlength" class="text-danger"
        >Account must be at least 6 characters</small
      >
      <small *ngIf="Account.errors?.maxlength" class="text-danger"
        >Account must be less then 16 characters</small
      >
    </div>
  </div>
  <div class="mb-3 mx-auto">
    <label class="form-label">Name</label>
    <input
      type="text"
      class="form-control"
      name="name"
      formControlName="name"
      [class.is-invalid]="
        loginForm.get('name').invalid && loginForm.get('name').touched
      "
    />
    <small
      class="text-danger"
      [class.d-none]="
        loginForm.get('name').valid || loginForm.get('name').untouched
      "
      >Name is required</small
    >
  </div>
  <div class="mb-3 mx-auto">
    <label class="form-label">Email address</label>
    <input
      type="email"
      class="form-control"
      name="email"
      formControlName="email"
      [class.is-invalid]="
        loginForm.get('email').invalid && loginForm.get('email').touched
      "
    />
    <div id="emailHelp" class="form-text">
      We'll never share your email with anyone else.
    </div>
    <small
      class="text-danger"
      [class.d-none]="
        loginForm.get('email').valid || loginForm.get('email').untouched
      "
      >Email is required</small
    >
  </div>
  <div class="mb-3 mx-auto">
    <label class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      name="password"
      formControlName="password"
      [class.is-invalid]="
        loginForm.get('password').invalid && loginForm.get('password').touched
      "
    />
    <small
      class="text-danger"
      [class.d-none]="
        loginForm.get('password').valid || loginForm.get('password').untouched
      "
      >Password is required</small
    >
  </div>
  <div class="mb-3 mx-auto">
    <label class="form-label">Confirm password</label>
    <input
      type="password"
      class="form-control"
      name="comfirmPassword"
      formControlName="confirmPassword"
      [class.is-invalid]="
        loginForm.get('confirmPassword').invalid &&
        loginForm.get('confirmPassword').touched
      "
    />
    <small
      class="text-danger"
      [class.d-none]="
        loginForm.get('confirmPassword').valid ||
        loginForm.get('confirmPassword').untouched
      "
      >Missing the confirm password</small
    >
  </div>
  <button type="submit" class="btn btn-primary mx-auto d-block">Submit</button>
  {{ loginForm.value | json }}
</form>
